:root{
    --bg-black:#000;
    --color-black:#000;
    --bg-white:#fff;
    --color-white:#fff;
    --bg-grey:#f1f1f173;
    --color-grey:#f1f1f173;
    --bg-red:red;
    --color-red:red;
    --bg-green:green;
    --color-green:green;
}
body{
    background: var(--bg-white);
    font-family: 'poppins';
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.cointeyner{
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}


.header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(to top, white 60%, black 40%);
    width: 100%;
    height: 140px;
}
.header_logo{
    display: block;
    margin: 10px;
}
.header_top-list{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 20px;
    background: var(--bg-black);
    height: 48px;
    width: 100%;
    padding-top: 20px;
}
.header_top-text{
    color: var(--color-white);
    font-weight: 400;
    font-size:13px ;
}
.header_top-select{
    background: var(--bg-black);
    color: var(--color-white);
    font-weight: 300;
    font-size: 15px;
    border: none;
    outline: none;
}
.header_nav{
    display: grid;
    grid-template-columns: 200px 500px 450px;
    grid-template-rows: auto;
    padding-bottom: 10px;
}
.header_bottom-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 48px;
}
.header_form{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    position: relative;
}
.header_form-input{
    background: var(--bg-grey);
    width: 300px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 25px;
}
.header_form > .header_form-btn{
    display: block;
    background-image:url("./photo/icon/header_btn-icon1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    right: 110px;
}
.form__button{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}
.form__button > .header_form-btn{
    background: var(--bg-white);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
}
.nav-link{
    color: var(--color-black);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.nav-link:hover{
    text-decoration: 2px underline solid;
}


.main{
    margin: 50px 0px;
}

.hero_wraper{
    display: grid;
    grid-template-columns: 217px 1fr;
    grid-template-rows: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.hero_left-list{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    justify-self: flex-end;
    gap: 10px;
}
.hero_left-select{
    width: 217px;
    height: 24px;
    color: var(--color-black);
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
}
.left_link{
    color: var(--color-black);
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}
.hero_right-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: var(--bg-black);
}
.right__logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    color: var(--color-white);
    font-weight: 300;
}
.hero_right-title{
    width: 300px;
    height: 130px;
    color: var(--color-white);
    font-size: 48px;
    font-weight: 600;
}
.hero_btn{
    background: var(--bg-black);
    color: var(--color-white);
    font-size: large;
    font-weight: 500;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.flash{
    padding-top: 150px;
}
.top_content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: auto;
    height: 30px;
    color: var(--bg-black);
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}
.bg_red{
    background: var(--bg-red);
    width: 20px;
    height: 30px;
    opacity: 0;
    transition: 0.3s;
}
.top_content:hover .bg_red{
    opacity: 1;
}
.top_content:hover{
    color: var(--color-red);
}
.flash_content{
    display: grid;
    grid-template-columns: 250px 1fr 150px;
    grid-template-rows: auto;
    align-items: center;
    align-content: space-between;
    padding-bottom: 40px;
}
.flash_title{
    font-weight: 600;
    font-size: 36px;
}
.flash_time-list{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.flash_time-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px ;
}
.time_span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flash_time-item > .flash_subtitle{
    font-size:32px;
    font-weight: 700;
}
.flash_time-item:nth-child(1):after{
    content: ':';
    font-size:large;
    font-weight: 600;
}
.flash_time-item:nth-child(2):after{
    content: ':';
    font-size:large;
    font-weight: 600;
}
.flash_time-item:nth-child(3):after{
    content: ':';
    font-size:large;
    font-weight: 600;
}
.flash__btn{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}
.flash_content-btn{
    background: var(--bg-grey);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.flash_list{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 350px;
    align-self: center;
    justify-self: end;
    gap: 30px;
}
.flash_item{
    background: var(--bg-grey);
    width: 100%;
    height: 100%;
    position: relative;
}
.flash_img{
    display: block;
    margin: 0 auto;
    padding: 25px;
}
.flash_skidka{
    background: var(--bg-red);
    color: var(--color-white);
    width: 55px;
    height: 26px;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    position: absolute;
    top: 10px;
    left: 10px;
}
.flash_icon-btn{
    background: var(--bg-white);
    border-radius: 50%;
    border: none;
    padding: 5px;
}
.flash_icon-btn:nth-child(1){
    position: absolute;
    top: 10px;
    right: 10px;
}
.flash_icon-btn:nth-child(2){
    position: absolute;
    top: 60px;
    right: 10px;
}
.flash_item-bottom{
    background: var(--bg-white);
    padding-bottom:9px ;
    padding-left: 10px;
    padding-top: 5px;
}
.flash_item-content{
    display: flex;
    align-self: center;
    justify-content: start;
    gap: 10px;
}
.flash_red{
    color: var(--color-red);
}
.flash_icons-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 5px;
}
.flash_bottom-btn{
    background: var(--bg-red);
    color: var(--color-white);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    margin: 100px auto;
}


.brown_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px;
    align-items: center;
    align-content: center;
    padding-bottom: 60px;
}
.brown_title{
    font-weight: 600;
    font-size: 36px;
}
.brown_list{
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-template-rows: 145px;
    align-items: center;
    align-content: center; 
    gap: 18px;
}
.brown_item{
    background: var(--bg-white);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.brown_item:hover{
    background: var(--bg-red);
    border: 1px solid var(--color-red);
    color: var(--color-white);
    box-shadow: 5px 4px 15px 0px gray;
}
.brown_text{
    font-size: large;
    font-weight: 300;
}

.best{
    padding-top: 150px;
}

.enxance{
    margin-top: 150px;
}
.enxance_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px;
    background: var(--bg-black);
}
.enxance_content{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.enxance_top-btn{
    background: var(--bg-black);
    color: var(--color-green);
    font-size: large;
    font-weight: 600;
    border: none;
    outline: none;
}
.enxance_title{
    color: var(--color-white);
    font-size: 48px;
    font-weight: 600;
    width: 443px;
    height: 120px;
}
.enxance__btn{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.enxance_btn{
    background: var(--bg-white);
    border-radius: 50%;
    font-size: x-small;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enxance_bottom-btn{
    background: var(--bg-green);
    color: var(--color-white);
    width: 171px;
    height: 56px;
    border: none;
    outline: none;
}

.explore{
    padding-top: 150px;
}
.explore_list{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 350px);
    align-items: center;
    align-content: center;
    justify-self: center;
    gap: 60px 30px;
}
.explore_item-text{
    padding-top:6px ;
}
.explore_red{
    margin-top: 20px;
    color: var(--color-red);
}
.explore_item-content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.new{
    padding-top: 100px;
}
.new_content{
    padding-bottom: 80px;
}
.new_title{
    font-weight: 600;
    font-size: 36px;
}
.new_list{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 32px;
}
.new_item:nth-child(1){
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    background: var(--bg-black);
}
.new_item:nth-child(2){
    display: grid;
    grid-column: 3/5;
    grid-row: 1/2;
    background: var(--bg-black);
    position: relative;
}
.new_item:nth-child(3){
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    background: var(--bg-black);
}
.new_item:nth-child(4){
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
    background: var(--bg-black);
}
.new_item-content{
    z-index: 2;
}
.new_item:nth-child(1) > .new_item-content{
    background-image: url("./photo/img/new_bg-img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items:start;
    justify-content: end;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}
.new_item:nth-child(2) > .new_item-content{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    width: 320px;
    height: auto;
}
.new_img{
    width: 282px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.new_item:nth-child(3) > .new_item-content{
    background-image: url("./photo/img/new_bg-img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 210px;
    height: 222px;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    padding-top: 100px;
}
.new_item:nth-child(4) > .new_item-content{
    background-image: url("./photo/img/new_bg-img4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 210px;
    height: 222px;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    padding-top: 100px;
}
.new_text{
    width: 320px;
}
.new_item-content{
    color: var(--color-white);
    font-size: smaller;
    text-align: start;
}
.new_btn{
    background: var(--bg-black);
    color: var(--color-white);
    border-radius: 5px;
    width: 80px;
    height: 25px;
    font-weight: 500;
    font-size: 12px;
}

.bottom_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.bottom_item{
    text-align: center;
}
.bottom_subtitle{
    font-weight: 600;
    padding-top: 20px;
}


.footer{
    background: var(--bg-black);
    width: 100%;
    height: 440px;
}
.footer_wraper{
    margin-top:150px;
    padding-top: 150px;
}
.footer_list{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer_title{
    color: var(--color-white);
    font-size: 36px;
    font-weight: 400;
    padding-bottom:10px;
}
.footer_subtitle{
    color: var(--color-white);
    font-size: 24px;
    font-weight: 400;
}
.footer_text{
    color: var(--color-white);
    font-size: 10px;
    font-weight: 200;
}
.footer_form{
    position: relative;
}
.footer_input{
    border: 1px solid var(--color-white);
    background:var(--bg-black);
    color: var(--color-white);
    border-radius: 5px;
    font-size: smaller;
    font-weight: 400;
    padding: 5px 30px 5px 5px;
    width: 180px;
    height: 30px;
}
.footer_btn{
    border: 1px solid var(--color-white);
    background: var(--bg-black);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}
.footer_list > .footer_item:nth-child(2){
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.footer_link{
    color: var(--color-white);
    font-size: 15px;
    display: block;
    margin: 3px 0px;    
}
.footer_item-list{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;
    display: inline;
}
.footer_item-item{
    padding: 5px 0;
}
.footer_small{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: var(--color-white);
}